version: '3'
services:
  node-master:
    build: ./NameNode_ResourceManager
    container_name: node-master
    privileged: true
    command: /usr/sbin/init
    environment:
      - "JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.201.b09-2.el7_6.x86_64/jre"
      - "PATH=/root/hadoop/bin:/root/hadoop/sbin:/usr/sue/sbin:/usr/sue/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - ./NameNode_ResourceManager/data:/data
    ports:
      - "8080:8080"
      - "7077:7077"
      - "50070:50070"
    networks:
      spark_simple:
        ipv4_address: 192.0.2.11
        aliases:
          - node-master
          - node-1:node-master
          - node-2:node-master

  node-1:
    build: ./Worker
    container_name: node-1
    privileged: true
    command: /usr/sbin/init
    environment:
      - "JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.201.b09-2.el7_6.x86_64/jre"
      - "PATH=/root/hadoop/bin:/root/hadoop/sbin:/usr/sue/sbin:/usr/sue/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - ./Worker/data:/data
    networks:
      spark_simple:
        ipv4_address: 192.0.2.12
        aliases:
          - node-1
          - node-master:node-1
          - node-2:node-1
  
  node-2:
    build: ./Worker
    container_name: node-2
    privileged: true
    command: /usr/sbin/init
    environment:
      - "JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.201.b09-2.el7_6.x86_64/jre"
      - "PATH=/root/hadoop/bin:/root/hadoop/sbin:/usr/sue/sbin:/usr/sue/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - ./Worker/data:/data
    networks:
      spark_simple:
        ipv4_address: 192.0.2.13
        aliases:
          - node-2
          - node-master:node-1
          - node-2:node-1


networks:
  spark_simple:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.0.2.0/24